
.recipe-form {
    margin-top: 5%;
    margin-left: 25%;
}

.recipe-description {
    height: 20em;
    resize: none;
}

.submit-recipe-btn {
    
}

.info-title {
    text-align: center;
}

.added-ingredients {
    position: absolute;
    margin-left: 5%;
    border: 1px solid blue;
    border-radius: 5px;
    padding: 10px;
}