<h6 class="info-title">4 portioner är standard för alla recept</h6>
<div *ngIf="displayIngredients.length > 0" class="added-ingredients">
  <h6>Added ingredients</h6>
  <div *ngFor="let i of displayIngredients">
    {{i.Namn}}
    {{i.Amount}}
    {{i.Measurement}}
  </div>
</div>
<form class="recipe-form">
  <div class="form-row">
    <mat-form-field class="form-group col-md-4">
      <input [(ngModel)]="recipeName" type="text" placeholder="Recept Namn" matInput [formControl]="myControl">
    </mat-form-field>
    <mat-form-field class="form-group col-md-2">
      <mat-select [(value)]="category" placeholder="Kategori">
        <mat-option value="Bakverk">Bakverk</mat-option>
        <mat-option value="Italienskt">Italienskt</mat-option>
        <mat-option value="Indiskt">Indiskt</mat-option>
        <mat-option value="Vegetariskt">Vegetariskt</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="form-group col-md-2">
      <input [(ngModel)]="recipeImgUrl" type="text" placeholder="Bild Url" matInput [formControl]="myControl">
    </mat-form-field>
  </div>
  <div class="form-row">
    <mat-form-field class="form-group col-md-4">
      <input type="text" placeholder="Sök efter ingrediens" aria-label="Number" matInput [formControl]="myControl"
        [matAutocomplete]="auto" (keyup)="onKey($event)">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let ingredient of ingredients" [value]="ingredient.Namn" (click)="onSelected(ingredient)">
          {{ingredient.Namn}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field class="form-group col-md-1">
      <input #amount type="text" placeholder="Antal" aria-label="Number" matInput [formControl]="myControl">
    </mat-form-field>
    <mat-form-field class="form-group col-md-2">
      <mat-select [(value)]="measurement" placeholder="Mått">
        <mat-option value="ml">ml</mat-option>
        <mat-option value="cl">cl</mat-option>
        <mat-option value="dl">dl</mat-option>
        <mat-option value="l">l</mat-option>
        <mat-option value="g">g</mat-option>
        <mat-option value="msk">msk</mat-option>
        <mat-option value="tsk">tsk</mat-option>
        <mat-option value="st">st</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="form-group col-md-1">
      <input #unitInGrams type="text" placeholder="Antal i gram" aria-label="Number" matInput [formControl]="myControl">
    </mat-form-field>
    <button mat-button color="primary" class="submit-recipe-btn" (click)="addIngredient(measurement, amount.value, unitInGrams.value)">Add</button>
  </div>
  <div class="form-row">
    <mat-form-field class="form-group col-md-6 ">
      <textarea [(ngModel)]="recipeDescription" name="recipeDescription" class="recipe-description" matInput
        placeholder="Instruktioner"></textarea>
    </mat-form-field>
  </div>
  <button mat-button class="submit-recipe-btn" (click)="submitRecipe(recipeName, category, recipeImgUrl, recipeDescription)">Lägg
    till</button>
</form>
























<!-- <form>
  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="inputIngredient">Ingredient</label>
      <input type="text" class="form-control" id="inputIngredient" (keyup)="onKey($event)">
    </div>
    <div class="form-group col-md-1">
      <label for="measurment">Measurment</label>
      <select id="measurment" class="form-control">
        <option selected>Choose...</option>
        <option>dl</option>
        <option>ml</option>
        <option>cl</option>
        <option>l</option>
        <option>g</option>
      </select>
    </div>
    <div class="form-group col-md-1">
      <label for="inputAmount">Amount</label>
      <input type="text" class="form-control" id="inputAmount">
    </div>
    <div *ngIf="items.length > 1">{{items}}</div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-5">
      <label for="inputDescription">Description</label>
      <textarea class="form-control" id="inputDescription" rows="8"></textarea>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Add recipe</button><button type="button" class="btn btn-success">Add ingredient</button>
</form> -->