.example-card {
  max-width: 400px;
  display: inline-block;
}

.nav-bar {
  width: 100%;
  background-color: rgb(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  height: 20%;
}

.category-btn {
  background: transparent;
  text-align: center;
  border: none;
  font-size: 20px;
  color: white;
}

.category-btn:hover {
  background-color: rgb(0, 0, 0, 0.2);
  color: white;
  cursor: pointer;
}
  