<div class="nav-bar">
  <button class="category-btn" (click)="homePage()">Home</button>
</div>
<h3>{{title.Name}}</h3>
<div *ngFor="let r of recipes">
  <mat-card class="example-card" *ngFor="let recipe of r" (click)="navigateToRecipe(recipe._id)">
    <mat-card-header>
      <mat-card-title>{{recipe.Name}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{recipe.imgURL}}" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        {{recipe.Instructions}}
      </p>
    </mat-card-content>
  </mat-card>
</div>