#homepagebg {
    position: absolute; 
    top: 0px; 
    width: 100%; 
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat; 
    height: 100%; 
    background-image: url("https://static.wixstatic.com/media/180ba81999a64ad3aa42735d409ecab6.jpg/v1/fill/w_1920,h_1275,al_c,q_85,usm_0.66_1.00_0.01/180ba81999a64ad3aa42735d409ecab6.webp");
}

.category-btn {
    background: transparent;
    text-align: center;
    border: none;
    font-size: 20px;
    color: white;
}

.category-btn:hover {
    background-color: rgb(0, 0, 0, 0.2);
    color: white;
    cursor: pointer;
}

.nav-bar {
    width: 100%;
    background-color: rgb(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    height: 10%;
}

.ingredients {
    float: right;
    
}

.nutrients {
    float: center;
}

.example-card {
    width: 800px;
    max-width: 800px;
    max-height: 800px;
}

.recipe {
    display: flex;
    justify-content: center;
}

img {
    width: 300px;
}

