<div id="homepagebg">
  <div class="nav-bar">
    <button class="category-btn" (click)="homePage()">Home</button>
  </div>
  <div *ngFor="let recipe of recipes" class="recipe">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>
          <h3>{{recipe.Name}}</h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{recipe.imgURL}}" alt="Photo of a Shiba Inu">
      <div class="ingredients">
        <h4>Ingredienser</h4>
        <ul>
          <li *ngFor="let ingredient of recipe.Ingredients">
            {{ingredient.Amount}}
            {{ingredient.Measurement}}
            {{ingredient.Namn}}
          </li>
        </ul>
      </div>
      <mat-card-content>
        <mat-form-field>
          <mat-select placeholder="Portioner" value="4" #oldServings (click)="getOldServings(oldServings.value)">
            <mat-option *ngFor="let q of servings" [value]="q" (click)="updateIngredients(q)">
              {{q}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <p>
          {{recipe.Instructions}}
        </p>
        <h5>Näringsinnehåll per portion</h5>
        <div *ngFor="let nutrient of displayNutrients">
          <p>Protein: {{nutrient.Protein}} g</p>
          <p>Kolhydrater: {{nutrient.Kolhydrater}} g</p>
          <p>Energi: {{nutrient.Energi}} kcal</p>
          <p>Fett: {{nutrient.Fett}} g</p>
          <p>Mättat fett {{nutrient.Mfet}} g</p>
          <p>Omättat fett {{nutrient.Ofet}} g</p>
          <p>Salt: {{nutrient.Salt}} g</p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>