<div id="homepagebg">

  <div class="nav-bar">
    <button class="category-btn" (click)="homePage()">Home</button>
    <button class="category-btn" *ngFor="let category of homePageCategory" [value]="category" (click)="loadCategoryPage(category)">{{category}}</button>
  </div>
  <br>
  <!-- Search form -->
  <div class="search-field">
    <mat-form-field class="form-group col-md-3">
      <input type="text" placeholder="Search for a recipe" aria-label="Number" matInput [formControl]="myControl"
        [matAutocomplete]="auto" (keyup)="onKey($event)">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let recipe of recipes" [value]="recipe.Name" (click)="loadRecipePage(recipe)">
          {{recipe.Name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <div class="mid-Title">
    <p>Recept & Näring</p>
  </div>
</div>